<!doctype html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/css/slider.css">
    <%- include('layout') -%>
    <title>Ian Profile</title>
</head>
<body>
    <%- include('navHeader') -%>
    <article>
        <%- include('slide') -%>
    </article>
    <footer>
        <%- include('footer') -%>
    </footer>
    <%- include('script') -%>
    <script src="/js/slider.js"></script>
</body>
</html>