<!doctype html>
<html lang="ko">
<head>
    <%- include('layout') -%>
    <title>Login</title>
</head>
<body>
    <%- include('navHeader') -%>
    <% if(userFullName) { %>
        <div class="jumbotron">
            <h4 class="signUser">Bonjour <%=userFullName%> !</h4>
            <a class="btn btn-warning signOutBtn" href="/signout">Sign out</a>
        </div>
    <% } else { %>
        <div class="jumbotron">
            <h5 class="askLogin">Do you wanna see more info?</h5>
            <a class="btn btn-danger signBtn" href="/signup">Signup</a>
            <a class="btn btn-danger signBtn" href="/signin">Signin</a>
        </div>
    <% } %>
    <footer>
        <%- include('footer') -%>
    </footer>
    <%- include('script') -%>
</body>
</html>