<!doctype html>
<html lang="ko">
<head>
    <%- include('layout') -%>
</head>
<body>
    <%- include('navHeader') -%>
    <% for(let i in messages) { %>
        <div class="flash"><%= messages[i] %></div>
    <% } %>
    <div class="jumbotron">
        <div>
            <form class="signUpForm" action="/signup" method="post">
                <div class="input-group">
                    <input class="form-control" type="text" name="firstName" aria-describedby="basic-addon1" placeholder="First Name:" />
                </div>
                <div class="input-group">
                    <input class="form-control" type="text" name="lastName" aria-describedby="basic-addon1" placeholder="last Name:" />
                </div>
                <div class="input-group">
                    <input class="form-control" type="text" name="username" aria-describedby="basic-addon1" placeholder="Username:" />
                </div>
                <div class="input-group">
                    <input class="form-control" type="text" name="email" aria-describedby="basic-addon1" placeholder="Email:" />
                </div>
                <div class="input-group">
                    <input class="form-control" type="password" name="password" aria-describedby="basic-addon1" placeholder="Password:" />
                </div>
                <div class="signUpBtn">
                    <input class="btn btn-warning" type="submit" name="Sign up" value="Sign Up" />
                </div>
            </form>
        </div>
        <div class="snsBtn">
            <a class='btn btn-info' href="/oauth/facebook">Facebook</a>
            <a class='btn btn-info' href="/oauth/google">Google</a>
            <a class='btn btn-info' href="/oauth/twitter">Twitter</a>
        </div>
    </div>
    <footer>
        <%- include('footer') -%>
    </footer>
    <%- include('script') -%>
</body>
</html>