<!doctype html>
<html lang="ko">
<head>
    <%- include('layout') -%>
</head>
<body>
    <%- include('navHeader') -%>
    <% for(let i in messages) { %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>
    <div class="jumbotron">
            <form action="/signin" method="post">
                <div class="input-group">
                    <input class="form-control" type="text" name="username" aria-describedby="basic-addon1" placeholder="Username:" />
                </div>
                <div class="input-group">
                    <input class="form-control" type="password" name="password" aria-describedby="basic-addon1" placeholder="Password:" />
                </div>
                <div>
                    <input class="btn btn-warning signInBtn" type="submit" value="Sign In">
                </div>
            </form>
        <a class="btn btn-info snsBtn" href="/oauth/facebook">Facebook</a>
        <a class="btn btn-info snsBtn" href="/oauth/google">Google</a>
        <a class="btn btn-info snsBtn" href="/oauth/twitter">Twitter</a>
    </div>
    <footer>
        <%- include('footer') -%>
    </footer>
    <%- include('script') -%>
</body>
</html>